In [1]:
from pymongo import MongoClient
from datetime import datetime
import random
import string

In [2]:
# Connect to MongoDB
client = MongoClient('mongodb://localhost:27017/')

# Drop existing database to reset
client.drop_database("EduHub_Db_Project")

# Re-create the database
db = client["EduHub_Db_Project"]
print("EduHub_Db_Project reset and ready.")

EduHub_Db_Project reset and ready.

In [3]:
# Generate real-looking random names
first_names = ["Grace", "David", "Ifeanyi", "Chinaza", "Adebayo", "Fatima", "Emeka", "Zainab", "Samuel", "Ngozi"]
last_names = ["Okoro", "Afolayan", "Ugochukwu", "Nwosu", "Adewale", "Mohammed", "Eze", "Aliyu", "Adegoke", "Ezeh"]
roles = ["student", "instructor"]

# Generate users
users = []
for i in range(30):
    first = random.choice(first_names)
    last = random.choice(last_names)
    role = random.choice(roles)
    user = {
        "userId": f"user_{100+i}",
        "email": f"{first.lower()}.{last.lower()}@example.com",
        "firstName": first,
        "lastName": last,
        "role": role,
        "dateJoined": datetime.utcnow(),
        "isActive": True,
        "profile": {
            "bio": f"I am a {role} at EduHub.",
            "avatar": "",
            "skills": random.sample(["Python", "Excel", "Java", "MongoDB", "HTML", "CSS", "JavaScript"], k=3)
        }
    }
    users.append(user)

# Insert users
result = db.users.insert_many(users)
print(f"Inserted {len(result.inserted_ids)} users into 'users' collection."

SyntaxError: incomplete input (2730084890.py, line 30)

In [4]:
# Generate users
users = []
for i in range(30):
    first = random.choice(first_names)
    last = random.choice(last_names)
    role = random.choice(roles)
    user = {
        "userId": f"user_{100+i}",
        "email": f"{first.lower()}.{last.lower()}@example.com",
        "firstName": first,
        "lastName": last,
        "role": role,
        "dateJoined": datetime.utcnow(),
        "isActive": True,
        "profile": {
            "bio": f"I am a {role} at EduHub.",
            "avatar": "",
            "skills": random.sample(["Python", "Excel", "Java", "MongoDB", "HTML", "CSS", "JavaScript"], k=3)
        }
    }
    users.append(user)

# Insert users
result = db.users.insert_many(users)
print(f"Inserted {len(result.inserted_ids)} users into 'users' collection.")

NameError: name 'first_names' is not defined

In [5]:
# Generate real-looking random names
first_names = ["Grace", "David", "Ifeanyi", "Chinaza", "Adebayo", "Fatima", "Emeka", "Zainab", "Samuel", "Ngozi"]
last_names = ["Okoro", "Afolayan", "Ugochukwu", "Nwosu", "Adewale", "Mohammed", "Eze", "Aliyu", "Adegoke", "Ezeh"]
roles = ["student", "instructor"]

In [6]:
# Generate users
users = []
for i in range(30):
    first = random.choice(first_names)
    last = random.choice(last_names)
    role = random.choice(roles)
    user = {
        "userId": f"user_{100+i}",
        "email": f"{first.lower()}.{last.lower()}@example.com",
        "firstName": first,
        "lastName": last,
        "role": role,
        "dateJoined": datetime.utcnow(),
        "isActive": True,
        "profile": {
            "bio": f"I am a {role} at EduHub.",
            "avatar": "",
            "skills": random.sample(["Python", "Excel", "Java", "MongoDB", "HTML", "CSS", "JavaScript"], k=3)
        }
    }
    users.append(user)

# Insert users
result = db.users.insert_many(users)
print(f"Inserted {len(result.inserted_ids)} users into 'users' collection.")

Inserted 30 users into 'users' collection.

In [7]:
# Courses

# Get instructors from the users collection
instructors = [doc["userId"] for doc in db.users.find({"role": "instructor"}, {"userId": 1, "_id": 0})]

# Sample course categories and levels
categories = ["Programming", "Design", "Business", "Data Science", "Marketing"]
levels = ["beginner", "intermediate", "advanced"]

In [8]:
# Generate 12 courses
courses = []
for i in range(12):
    instructor_id = random.choice(instructors)
    category = random.choice(categories)
    level = random.choice(levels)
    course = {
        "courseId": f"course_{200+i}",
        "title": f"Course {i+1} in {category}",
        "description": f"A comprehensive {level} course in {category}.",
        "instructorId": instructor_id,
        "category": category,
        "level": level,
        "duration": random.randint(5, 40),
        "price": round(random.uniform(20, 100), 2),
        "tags": random.sample(["python", "ui/ux", "strategy", "analytics", "ads", "machine learning"], k=3),
        "createdAt": datetime.utcnow(),
        "updatedAt": datetime.utcnow(),
        "isPublished": random.choice([True, False])
    }
    courses.append(course)

# Insert courses
result = db.courses.insert_many(courses)
print(f"Inserted {len(result.inserted_ids)} courses into 'courses' collection.")

Inserted 12 courses into 'courses' collection.

In [9]:
# Enrollments

# Get all students
students = [doc["userId"] for doc in db.users.find({"role": "student"}, {"userId": 1, "_id": 0})]
course_ids = [doc["courseId"] for doc in db.courses.find({}, {"courseId": 1, "_id": 0})]

# Generate 20 enrollments
enrollments = []
for i in range(20):
    enrollment = {
        "enrollmentId": f"enroll_{300+i}",
        "studentId": random.choice(students),
        "courseId": random.choice(course_ids),
        "enrolledAt": datetime.utcnow(),
        "progress": round(random.uniform(0, 100), 2),
        "completed": random.choice([True, False])
    }
    enrollments.append(enrollment)

# Insert enrollments
result = db.enrollments.insert_many(enrollments)
print(f"Inserted {len(result.inserted_ids)} enrollments into 'enrollments' collection.")

Inserted 20 enrollments into 'enrollments' collection.

In [10]:
# Lessons

# Generate 30 lessons
lessons = []
for i in range(30):
    course_id = random.choice(course_ids)
    lesson = {
        "lessonId": f"lesson_{400+i}",
        "courseId": course_id,
        "title": f"Lesson {i+1} for {course_id}",
        "content": f"Detailed content for lesson {i+1}...",
        "duration": random.randint(10, 60),  # in minutes
        "createdAt": datetime.utcnow()
    }
    lessons.append(lesson)

# Insert lessons
result = db.lessons.insert_many(lessons)
print(f"Inserted {len(result.inserted_ids)} lessons into 'lessons' collection.")

Inserted 30 lessons into 'lessons' collection.

In [13]:
# Assignments

# Generate 13 assignments
assignments = []
for i in range(13):
    course_id = random.choice(course_ids)
    assignment = {
        "assignmentId": f"assign_{500+i}",
        "courseId": course_id,
        "title": f"Assignment {i+1} for {course_id}",
        "description": f"Complete the exercises for Assignment {i+1}.",
        "dueDate": datetime.utcnow() + timedelta(days=random.randint(3, 14)),
        "createdAt": datetime.utcnow()
    }
    assignments.append(assignment)

# Insert assignments
result = db.assignments.insert_many(assignments)
print(f"Inserted {len(result.inserted_ids)} assignments into 'assignments' collection.")

Inserted 13 assignments into 'assignments' collection.

In [12]:
from datetime import datetime, timedelta

In [14]:
# Assignment Submissions

# Get assignment and student IDs
assignment_ids = [doc["assignmentId"] for doc in db.assignments.find({}, {"assignmentId": 1, "_id": 0})]

# Generate 15 assignment submissions
submissions = []
for i in range(15):
    submission = {
        "submissionId": f"sub_{600+i}",
        "assignmentId": random.choice(assignment_ids),
        "studentId": random.choice(students),
        "submittedAt": datetime.utcnow(),
        "content": f"This is submission content #{i+1}.",
        "grade": random.randint(60, 100),
        "feedback": f"Feedback for submission #{i+1}."
    }
    submissions.append(submission)

# Insert submissions
result = db.submissions.insert_many(submissions)
print(f"Inserted {len(result.inserted_ids)} submissions into 'submissions' collection.")

Inserted 15 submissions into 'submissions' collection.

In [15]:
#Task 3.1 – Create Operations

# Add a new student user
new_student = {
    "userId": "user_999",
    "email": "new.student@example.com",
    "firstName": "New",
    "lastName": "Student",
    "role": "student",
    "dateJoined": datetime.utcnow(),
    "isActive": True,
    "profile": {
        "bio": "I am excited to learn.",
        "avatar": "",
        "skills": ["Python", "MongoDB"]
    }
}
db.users.insert_one(new_student)

InsertOneResult(ObjectId('684d62e430a6e8a80723be02'), acknowledged=True)

In [16]:
# Create a new course
instructor = db.users.find_one({"role": "instructor"})
new_course = {
    "courseId": "course_999",
    "title": "Advanced MongoDB",
    "description": "Master advanced MongoDB techniques",
    "instructorId": instructor["userId"],
    "category": "Data Science",
    "level": "advanced",
    "duration": 30,
    "price": 120.00,
    "tags": ["mongo", "database"],
    "createdAt": datetime.utcnow(),
    "updatedAt": datetime.utcnow(),
    "isPublished": True
}
db.courses.insert_one(new_course)

InsertOneResult(ObjectId('684d62f230a6e8a80723be03'), acknowledged=True)

In [17]:
# Enroll a student in a course
new_enrollment = {
    "enrollmentId": "enroll_999",
    "studentId": new_student["userId"],
    "courseId": new_course["courseId"],
    "enrolledAt": datetime.utcnow(),
    "progress": 0.0,
    "completed": False
}
db.enrollments.insert_one(new_enrollment)

InsertOneResult(ObjectId('684d62fc30a6e8a80723be04'), acknowledged=True)

In [18]:
# Add a new lesson to the new course
new_lesson = {
    "lessonId": "lesson_999",
    "courseId": new_course["courseId"],
    "title": "Lesson 1: Indexes",
    "content": "Introduction to Indexes in MongoDB",
    "duration": 45,
    "createdAt": datetime.utcnow()
}
db.lessons.insert_one(new_lesson)

InsertOneResult(ObjectId('684d630330a6e8a80723be05'), acknowledged=True)

In [19]:
#Task 3.2 – Read Operations

# Find all active students
active_students = list(db.users.find({"role": "student", "isActive": True}))
for student in active_students:
    print(student["firstName"], student["lastName"], "–", student["email"])

Ifeanyi Eze – ifeanyi.eze@example.com
Ifeanyi Eze – ifeanyi.eze@example.com
Emeka Ezeh – emeka.ezeh@example.com
Adebayo Adegoke – adebayo.adegoke@example.com
David Mohammed – david.mohammed@example.com
David Ezeh – david.ezeh@example.com
Adebayo Nwosu – adebayo.nwosu@example.com
Ifeanyi Okoro – ifeanyi.okoro@example.com
Emeka Adegoke – emeka.adegoke@example.com
Ngozi Eze – ngozi.eze@example.com
David Okoro – david.okoro@example.com
New Student – new.student@example.com

In [20]:
# Retrieve course details with instructor information
pipeline = [
    {"$match": {"courseId": "course_999"}},
    {"$lookup": {
        "from": "users",
        "localField": "instructorId",
        "foreignField": "userId",
        "as": "instructorInfo"
    }}
]
course_details = list(db.courses.aggregate(pipeline))
print(course_details)

[{'_id': ObjectId('684d62f230a6e8a80723be03'), 'courseId': 'course_999', 'title': 'Advanced MongoDB', 'description': 'Master advanced MongoDB techniques', 'instructorId': 'user_102', 'category': 'Data Science', 'level': 'advanced', 'duration': 30, 'price': 120.0, 'tags': ['mongo', 'database'], 'createdAt': datetime.datetime(2025, 6, 14, 11, 54, 26, 494000), 'updatedAt': datetime.datetime(2025, 6, 14, 11, 54, 26, 494000), 'isPublished': True, 'instructorInfo': [{'_id': ObjectId('684d5f7e30a6e8a80723bd8c'), 'userId': 'user_102', 'email': 'fatima.adewale@example.com', 'firstName': 'Fatima', 'lastName': 'Adewale', 'role': 'instructor', 'dateJoined': datetime.datetime(2025, 6, 14, 11, 39, 42, 905000), 'isActive': True, 'profile': {'bio': 'I am a instructor at EduHub.', 'avatar': '', 'skills': ['JavaScript', 'MongoDB', 'Excel']}}]}]

In [21]:
# Get all courses in a specific category
data_science_courses = list(db.courses.find({"category": "Data Science"}))
for course in data_science_courses:
    print(course["title"])

Course 1 in Data Science
Advanced MongoDB

In [22]:
# Find students enrolled in a particular course
enrolled_students = db.enrollments.find({"courseId": "course_999"})
for enrollment in enrolled_students:
    print(enrollment["studentId"])

user_999

In [23]:
# Search courses by title (case-insensitive, partial match)
search_keyword = "mongo"
mongo_courses = db.courses.find({"title": {"$regex": search_keyword, "$options": "i"}})
for course in mongo_courses:
    print(course["title"])

Advanced MongoDB

In [24]:
#Task 3.3 – Update Operations

# Update a user's profile information
db.users.update_one(
    {"userId": "user_999"},
    {"$set": {"profile.bio": "Updated student profile", "profile.skills": ["Python", "Data Analysis"]}}
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [25]:
# Mark a course as published
db.courses.update_one(
    {"courseId": "course_999"},
    {"$set": {"isPublished": True, "updatedAt": datetime.utcnow()}}
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [26]:
# Update assignment grades for a submission
db.submissions.update_one(
    {},  # Update the first available document
    {"$set": {"grade": 88.5, "feedback": "Well done!"}}
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [27]:
# Add tags to an existing course
db.courses.update_one(
    {"courseId": "course_999"},
    {"$addToSet": {"tags": {"$each": ["NoSQL", "performance"]}}}
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [29]:
#Task 3.4 – Delete Operations

# Soft delete a user by marking them inactive
db.users.update_one(
    {"userId": "user_999"},
    {"$set": {"isActive": False}}
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [30]:
# Delete an enrollment
db.enrollments.delete_one(
    {"enrollmentId": "enroll_999"}
)

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [31]:
# Delete a lesson from a course
db.lessons.delete_one(
    {"lessonId": "lesson_999"}
)

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [32]:
#Part 4: Advanced Queries and Aggregation

#Part 4.1 – Complex Queries

# Find courses with price between $50 and $200
price_range_courses = db.courses.find({"price": {"$gte": 50, "$lte": 200}})
for course in price_range_courses:
    print(course["title"], course["price"])

Course 2 in Design 94.28
Course 4 in Design 82.4
Course 5 in Business 94.99
Course 8 in Design 64.44
Course 9 in Design 65.44
Course 10 in Business 96.74
Course 11 in Marketing 84.02
Course 12 in Marketing 64.39
Advanced MongoDB 120.0

In [33]:
# Get users who joined in the last 6 months
six_months_ago = datetime.utcnow() - timedelta(days=180)
recent_users = db.users.find({"dateJoined": {"$gte": six_months_ago}})
for user in recent_users:
    print(user["firstName"], user["lastName"], user["dateJoined"])

Ifeanyi Eze 2025-06-14 11:39:42.905000
Fatima Adewale 2025-06-14 11:39:42.905000
David Adegoke 2025-06-14 11:39:42.905000
Adebayo Eze 2025-06-14 11:39:42.905000
Zainab Adegoke 2025-06-14 11:39:42.905000
Chinaza Adegoke 2025-06-14 11:39:42.905000
Emeka Ezeh 2025-06-14 11:39:42.905000
Adebayo Ugochukwu 2025-06-14 11:39:42.905000
Zainab Aliyu 2025-06-14 11:39:42.905000
Emeka Aliyu 2025-06-14 11:39:42.905000
Adebayo Adegoke 2025-06-14 11:39:42.905000
David Adewale 2025-06-14 11:39:42.905000
David Mohammed 2025-06-14 11:39:42.905000
Zainab Mohammed 2025-06-14 11:39:42.905000
Fatima Adegoke 2025-06-14 11:39:42.905000
Grace Okoro 2025-06-14 11:39:42.905000
David Ezeh 2025-06-14 11:39:42.905000
Emeka Adegoke 2025-06-14 11:39:42.905000
Grace Ugochukwu 2025-06-14 11:39:42.905000
Ngozi Okoro 2025-06-14 11:39:42.905000
Adebayo Nwosu 2025-06-14 11:39:42.905000
Chinaza Aliyu 2025-06-14 11:39:42.905000
Ifeanyi Okoro 2025-06-14 11:39:42.905000
Emeka Adegoke 2025-06-14 11:39:42.905000
Ngozi Eze 2025-06-14 11:39:42.905000
Grace Nwosu 2025-06-14 11:39:42.905000
David Nwosu 2025-06-14 11:39:42.905000
Samuel Afolayan 2025-06-14 11:39:42.905000
David Okoro 2025-06-14 11:39:42.905000
New Student 2025-06-14 11:54:12.800000

In [34]:
# Get users who joined in the last 6 months
six_months_ago = datetime.utcnow() - timedelta(days=180)
recent_users = db.users.find({"dateJoined": {"$gte": six_months_ago}})
for user in recent_users:
    print(user["firstName"], user["lastName"], user["dateJoined"])

Ifeanyi Eze 2025-06-14 11:39:42.905000
Fatima Adewale 2025-06-14 11:39:42.905000
David Adegoke 2025-06-14 11:39:42.905000
Adebayo Eze 2025-06-14 11:39:42.905000
Zainab Adegoke 2025-06-14 11:39:42.905000
Chinaza Adegoke 2025-06-14 11:39:42.905000
Emeka Ezeh 2025-06-14 11:39:42.905000
Adebayo Ugochukwu 2025-06-14 11:39:42.905000
Zainab Aliyu 2025-06-14 11:39:42.905000
Emeka Aliyu 2025-06-14 11:39:42.905000
Adebayo Adegoke 2025-06-14 11:39:42.905000
David Adewale 2025-06-14 11:39:42.905000
David Mohammed 2025-06-14 11:39:42.905000
Zainab Mohammed 2025-06-14 11:39:42.905000
Fatima Adegoke 2025-06-14 11:39:42.905000
Grace Okoro 2025-06-14 11:39:42.905000
David Ezeh 2025-06-14 11:39:42.905000
Emeka Adegoke 2025-06-14 11:39:42.905000
Grace Ugochukwu 2025-06-14 11:39:42.905000
Ngozi Okoro 2025-06-14 11:39:42.905000
Adebayo Nwosu 2025-06-14 11:39:42.905000
Chinaza Aliyu 2025-06-14 11:39:42.905000
Ifeanyi Okoro 2025-06-14 11:39:42.905000
Emeka Adegoke 2025-06-14 11:39:42.905000
Ngozi Eze 2025-06-14 11:39:42.905000
Grace Nwosu 2025-06-14 11:39:42.905000
David Nwosu 2025-06-14 11:39:42.905000
Samuel Afolayan 2025-06-14 11:39:42.905000
David Okoro 2025-06-14 11:39:42.905000
New Student 2025-06-14 11:54:12.800000

In [35]:
# Retrieve assignments with due dates in the next week
next_week = datetime.utcnow() + timedelta(days=7)
upcoming_assignments = db.assignments.find({"dueDate": {"$lte": next_week}})
for assignment in upcoming_assignments:
    print(assignment["title"], assignment["dueDate"])

Assignment 1 for course_207 2025-06-20 11:48:31.791000
Assignment 4 for course_201 2025-06-18 11:48:31.791000
Assignment 9 for course_209 2025-06-21 11:48:31.791000

In [36]:
#Part 4.2 – Aggregation Pipeline

#4.2.1 - Course Enrollment Statistics

# Count total enrollments per course
enrollment_stats = db.enrollments.aggregate([
    {"$group": {"_id": "$courseId", "totalEnrollments": {"$sum": 1}}},
    {"$sort": {"totalEnrollments": -1}}
])
for stat in enrollment_stats:
    print("Course:", stat["_id"], "→ Total Enrollments:", stat["totalEnrollments"])

Course: course_201 → Total Enrollments: 3
Course: course_209 → Total Enrollments: 3
Course: course_205 → Total Enrollments: 2
Course: course_207 → Total Enrollments: 2
Course: course_204 → Total Enrollments: 2
Course: course_206 → Total Enrollments: 2
Course: course_208 → Total Enrollments: 2
Course: course_203 → Total Enrollments: 2
Course: course_200 → Total Enrollments: 1
Course: course_202 → Total Enrollments: 1

In [37]:
# Calculate average course rating (if 'rating' field exists in course)
avg_rating_stats = db.courses.aggregate([
    {"$match": {"rating": {"$exists": True}}},
    {"$group": {"_id": "$category", "avgRating": {"$avg": "$rating"}}}
])
for stat in avg_rating_stats:
    print("Category:", stat["_id"], "→ Avg Rating:", round(stat["avgRating"], 2))

In [38]:
# Group courses by category
category_group = db.courses.aggregate([
    {"$group": {"_id": "$category", "courseCount": {"$sum": 1}}},
    {"$sort": {"courseCount": -1}}
])
for group in category_group:
    print("Category:", group["_id"], "→ Number of Courses:", group["courseCount"])

Category: Business → Number of Courses: 4
Category: Design → Number of Courses: 4
Category: Marketing → Number of Courses: 2
Category: Data Science → Number of Courses: 2
Category: Programming → Number of Courses: 1

In [39]:
#4.2.2 Student Performance Analysis

# Average grade per student
avg_grade_per_student = db.submissions.aggregate([
    {"$group": {
        "_id": "$studentId",
        "avgGrade": {"$avg": "$grade"}
    }}
])
for result in avg_grade_per_student:
    print("Student:", result["_id"], "→ Average Grade:", round(result["avgGrade"], 2))

Student: user_129 → Average Grade: 85.33
Student: user_111 → Average Grade: 80.33
Student: user_101 → Average Grade: 84.25
Student: user_117 → Average Grade: 79.25
Student: user_121 → Average Grade: 93.0
Student: user_107 → Average Grade: 85.0
Student: user_125 → Average Grade: 81.0

In [40]:
# Completion rate by course
completion_rate = db.enrollments.aggregate([
    {"$group": {
        "_id": "$courseId",
        "total": {"$sum": 1},
        "completed": {"$sum": {"$cond": ["$completed", 1, 0]}}
    }},
    {"$project": {
        "completionRate": {"$multiply": [{"$divide": ["$completed", "$total"]}, 100]}
    }}
])
for result in completion_rate:
    print("Course:", result["_id"], "→ Completion Rate:", round(result["completionRate"], 2), "%")

Course: course_209 → Completion Rate: 66.67 %
Course: course_203 → Completion Rate: 100.0 %
Course: course_200 → Completion Rate: 100.0 %
Course: course_202 → Completion Rate: 100.0 %
Course: course_205 → Completion Rate: 50.0 %
Course: course_208 → Completion Rate: 100.0 %
Course: course_207 → Completion Rate: 50.0 %
Course: course_204 → Completion Rate: 0.0 %
Course: course_206 → Completion Rate: 50.0 %
Course: course_201 → Completion Rate: 100.0 %

In [41]:
# Top-performing students (highest average grades)
top_students = db.submissions.aggregate([
    {"$group": {"_id": "$studentId", "avgGrade": {"$avg": "$grade"}}},
    {"$sort": {"avgGrade": -1}},
    {"$limit": 5}
])
for student in top_students:
    print("Student:", student["_id"], "→ Avg Grade:", round(student["avgGrade"], 2))

Student: user_121 → Avg Grade: 93.0
Student: user_129 → Avg Grade: 85.33
Student: user_107 → Avg Grade: 85.0
Student: user_101 → Avg Grade: 84.25
Student: user_125 → Avg Grade: 81.0

In [42]:
#4.2.3 Instructor Analytics

# Total students taught by each instructor
instructor_students = db.enrollments.aggregate([
    {"$lookup": {
        "from": "courses",
        "localField": "courseId",
        "foreignField": "courseId",
        "as": "course"
    }},
    {"$unwind": "$course"},
    {"$group": {
        "_id": "$course.instructorId",
        "totalStudents": {"$sum": 1}
    }},
    {"$sort": {"totalStudents": -1}}
])
for instructor in instructor_students:
    print("Instructor:", instructor["_id"], "→ Total Students:", instructor["totalStudents"])

Instructor: user_114 → Total Students: 6
Instructor: user_128 → Total Students: 3
Instructor: user_118 → Total Students: 3
Instructor: user_102 → Total Students: 2
Instructor: user_126 → Total Students: 2
Instructor: user_116 → Total Students: 2
Instructor: user_122 → Total Students: 1
Instructor: user_104 → Total Students: 1

In [43]:
# Average course rating per instructor (if rating exists)
avg_rating_per_instructor = db.courses.aggregate([
    {"$match": {"rating": {"$exists": True}}},
    {"$group": {
        "_id": "$instructorId",
        "avgInstructorRating": {"$avg": "$rating"}
    }},
    {"$sort": {"avgInstructorRating": -1}}
])
for result in avg_rating_per_instructor:
    print("Instructor:", result["_id"], "→ Avg Rating:", round(result["avgInstructorRating"], 2))

In [44]:
# Revenue generated per instructor
instructor_revenue = db.courses.aggregate([
    {"$lookup": {
        "from": "enrollments",
        "localField": "courseId",
        "foreignField": "courseId",
        "as": "enrollments"
    }},
    {"$project": {
        "instructorId": 1,
        "price": 1,
        "enrollmentCount": {"$size": "$enrollments"},
        "revenue": {"$multiply": ["$price", {"$size": "$enrollments"}]}
    }},
    {"$group": {
        "_id": "$instructorId",
        "totalRevenue": {"$sum": "$revenue"}
    }},
    {"$sort": {"totalRevenue": -1}}
])
for result in instructor_revenue:
    print("Instructor:", result["_id"], "→ Revenue:", result["totalRevenue"])

Instructor: user_114 → Revenue: 400.56
Instructor: user_118 → Revenue: 290.21999999999997
Instructor: user_128 → Revenue: 282.84000000000003
Instructor: user_116 → Revenue: 164.8
Instructor: user_126 → Revenue: 130.88
Instructor: user_102 → Revenue: 70.28
Instructor: user_104 → Revenue: 36.39
Instructor: user_122 → Revenue: 33.26
Instructor: user_115 → Revenue: 0.0

In [45]:
#4.2.4 Advanced Analytics

# Monthly enrollment trends
monthly_trends = db.enrollments.aggregate([
    {"$addFields": {
        "month": {"$dateToString": {"format": "%Y-%m", "date": "$enrolledAt"}}
    }},
    {"$group": {
        "_id": "$month",
        "count": {"$sum": 1}
    }},
    {"$sort": {"_id": 1}}
])
for trend in monthly_trends:
    print("Month:", trend["_id"], "→ Enrollments:", trend["count"])

Month: 2025-06 → Enrollments: 20

In [46]:
# Most popular course categories
popular_categories = db.courses.aggregate([
    {"$lookup": {
        "from": "enrollments",
        "localField": "courseId",
        "foreignField": "courseId",
        "as": "enrollments"
    }},
    {"$group": {
        "_id": "$category",
        "totalEnrollments": {"$sum": {"$size": "$enrollments"}}
    }},
    {"$sort": {"totalEnrollments": -1}}
])
for cat in popular_categories:
    print("Category:", cat["_id"], "→ Enrollments:", cat["totalEnrollments"])

Category: Design → Enrollments: 9
Category: Business → Enrollments: 8
Category: Programming → Enrollments: 2
Category: Data Science → Enrollments: 1
Category: Marketing → Enrollments: 0

In [47]:
# Student engagement metrics (average submissions per enrolled student)
engagement_metrics = db.enrollments.aggregate([
    {"$lookup": {
        "from": "submissions",
        "localField": "studentId",
        "foreignField": "studentId",
        "as": "submissions"
    }},
    {"$group": {
        "_id": "$studentId",
        "submissionCount": {"$sum": {"$size": "$submissions"}}
    }},
    {"$group": {
        "_id": None,
        "avgSubmissions": {"$avg": "$submissionCount"}
    }}
])
for result in engagement_metrics:
    print("Average Submissions per Student:", round(result["avgSubmissions"], 2))

Average Submissions per Student: 2.89

In [48]:
#Part 5 – Indexing and Performance

# Create indexes
# Index on email for faster lookup
db.users.create_index("email")

# Index on course title and category for searching
db.courses.create_index([("title", 1), ("category", 1)])

# Index on dueDate in assignments
db.assignments.create_index("dueDate")

# Index on studentId and courseId in enrollments
db.enrollments.create_index([("studentId", 1), ("courseId", 1)])

# Confirm created indexes
print(list(db.users.index_information().keys()))
print(list(db.courses.index_information().keys()))
print(list(db.assignments.index_information().keys()))
print(list(db.enrollments.index_information().keys()))

['_id_', 'email_1']
['_id_', 'title_1_category_1']
['_id_', 'dueDate_1']
['_id_', 'studentId_1_courseId_1']

In [51]:
#5.2 Query Optimization and Performance Timing

# Measure query time before optimization
start_time = time.time()
list(db.users.find({"email": "grace.okoro@example.com"}))
end_time = time.time()
print("Email Lookup Time:", round(end_time - start_time, 6), "seconds")

Email Lookup Time: 0.00381 seconds

In [50]:
from pymongo import MongoClient
from datetime import datetime, timedelta
import time

In [52]:
# Measure indexed course search
start_time = time.time()
list(db.courses.find({"title": {"$regex": "python", "$options": "i"}}))
end_time = time.time()
print("Course Search Time:", round(end_time - start_time, 6), "seconds")

Course Search Time: 0.001994 seconds

In [53]:
# Measure dueDate query with index
start_time = time.time()
list(db.assignments.find({"dueDate": {"$exists": True}}))
end_time = time.time()
print("Due Date Query Time:", round(end_time - start_time, 6), "seconds")

Due Date Query Time: 0.002257 seconds

In [54]:
#Part 6: Data Validation and Error Handling

#Schema Validation
# Create users collection with schema validation
user_schema = {
    "$jsonSchema": {
        "bsonType": "object",
        "required": ["userId", "email", "firstName", "lastName", "role", "dateJoined", "isActive"],
        "properties": {
            "userId": {"bsonType": "string"},
            "email": {
                "bsonType": "string",
                "pattern": "^.+@.+\\..+$",
                "description": "Must be a valid email"
            },
            "firstName": {"bsonType": "string"},
            "lastName": {"bsonType": "string"},
            "role": {
                "enum": ["student", "instructor"],
                "description": "Role must be either student or instructor"
            },
            "dateJoined": {"bsonType": "date"},
            "isActive": {"bsonType": "bool"},
            "profile": {
                "bsonType": "object",
                "properties": {
                    "bio": {"bsonType": "string"},
                    "avatar": {"bsonType": "string"},
                    "skills": {"bsonType": "array", "items": {"bsonType": "string"}}
                }
            }
        }
    }
}

# Drop and recreate collection with validation
if "users" in db.list_collection_names():
    db.users.drop()

db.create_collection("users", validator=user_schema)
print("Users collection created with schema validation.")

Users collection created with schema validation.

In [55]:
#6.2 Error Handling

# Example 1: Handle duplicate user insertion
try:
    db.users.insert_one({
        "userId": "U001",
        "email": "grace.okoro@example.com",  # Assuming already inserted
        "firstName": "Grace",
        "lastName": "Okoro",
        "role": "student",
        "dateJoined": datetime.utcnow(),
        "isActive": True
    })
except Exception as e:
    print("Duplicate insertion error:", e)

In [56]:
# Example 2: Handle missing required fields
try:
    db.users.insert_one({
        "userId": "U999"
    })
except Exception as e:
    print("Validation failed due to missing fields:", e)

Validation failed due to missing fields: Document failed validation, full error: {'index': 0, 'code': 121, 'errmsg': 'Document failed validation', 'errInfo': {'failingDocumentId': ObjectId('684d6e1d30a6e8a80723be07'), 'details': {'operatorName': '$jsonSchema', 'schemaRulesNotSatisfied': [{'operatorName': 'required', 'specifiedAs': {'required': ['userId', 'email', 'firstName', 'lastName', 'role', 'dateJoined', 'isActive']}, 'missingProperties': ['dateJoined', 'email', 'firstName', 'isActive', 'lastName', 'role']}]}}}

In [57]:
# Example 3: Handle invalid data types
try:
    db.courses.insert_one({
        "courseId": "C999",
        "title": "Test Course",
        "instructorId": "I001",
        "price": "Free"  # Invalid: should be a number
    })
except Exception as e:
    print("Invalid data type error:", e)

In [58]:
course_schema = {
    "$jsonSchema": {
        "bsonType": "object",
        "required": ["courseId", "title", "instructorId", "price"],
        "properties": {
            "courseId": {"bsonType": "string"},
            "title": {"bsonType": "string"},
            "instructorId": {"bsonType": "string"},
            "price": {"bsonType": "double"}  # or "number"
        }
    }
}

if "courses" in db.list_collection_names():
    db.courses.drop()

db.create_collection("courses", validator=course_schema)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'EduHub_Db_Project'), 'courses')

In [59]:
# Example 3: Handle invalid data types
try:
    db.courses.insert_one({
        "courseId": "C999",
        "title": "Test Course",
        "instructorId": "I001",
        "price": "Free"  # Invalid: should be a number
    })
except Exception as e:
    print("Invalid data type error:", e)

Invalid data type error: Document failed validation, full error: {'index': 0, 'code': 121, 'errmsg': 'Document failed validation', 'errInfo': {'failingDocumentId': ObjectId('684d6f8c30a6e8a80723be09'), 'details': {'operatorName': '$jsonSchema', 'schemaRulesNotSatisfied': [{'operatorName': 'properties', 'propertiesNotSatisfied': [{'propertyName': 'price', 'details': [{'operatorName': 'bsonType', 'specifiedAs': {'bsonType': 'double'}, 'reason': 'type did not match', 'consideredValue': 'Free', 'consideredType': 'string'}]}]}]}}}